<%if (error) {%>
<p style="position: relative;left: 50%; color: red; font-size: 20px; font-style: italic;"><%= error%></p>
<% }%>

<% if(success){%>
<p style="position: relative;left: 10%; background-color: blue; font-size: 20px; font-style: italic;"><%=success %></p>
<%}%>
